/* Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 32px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div {
  border: 1px solid rgb(205, 205, 205);
}

.header,
.footer {
  background-color: #c6d9f1;
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

@media screen and (min-width: 500px) {
  .header,
  .footer {
    flex-direction: row;
  }
}

.header h2,
.footer h2 {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid rgb(205, 205, 205);
}

.footer h2 {
  padding-inline: 5px 30px;
}

.main {
  flex: 1 0 auto;
  background-color: #fde9d9;
  display: flex;
  flex-direction: column;
}

.header__menu {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .header,
  .footer {
    padding-inline: 50px;
  }
}

.main__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.main__box_green {
  background-color: #eaf1dd;
}

.main__box_white {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 1.5;
}

.main__box_white img {
  max-width: 100%;
}

.main__box_white ol {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.main__box_two {
}
.main__box_five {
  grid-row: 2 / 6;
}
.main__box_three {
  grid-row: 1 / 5;
}
.main__box_six {
  grid-row: 5 / 6;
}
.main__box_four {
  grid-row: 1/ 6;
}
